.footer__column-link {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    opacity: 1;
    transition: opacity 0.7s linear 0s;
  }
  
.footer__column-link:hover {
  opacity: 0.4;
}